body {
  font-family: "Roboto";
  background-color: #f6fff8;
}
.conventer {
  margin: auto;
  max-width: 800px;
  padding-top: 15%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  font-size: 26px;
  font-weight: bold;
  color: #6b9080;
}
