body {
  font-family: "Roboto";
  background-color: #f6fff8;
}

.conventer {
  margin: auto;
  max-width: 800px;
  padding-top: 15%;
}

.logos {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #6b9080;
}

.title {
  width: 640px;
  height: 120px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  letter-spacing: 2px;
  background-color: #6b9080;
  color: #eaf4f4;
}

p {
  font-size: 26px;
  font-weight: bold;
  color: #6b9080;
}

.result {
  white-space: nowrap;
  font-size: 30px;
  font-weight: bold;
  color: #6b9080;
}

#spinner:not([hidden]) {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

#spinner::after {
  content: "";
  width: 90px;
  height: 90px;
  border: 9px solid #f3f3f3;
  border-top: 10px solid #6b9080;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
